{% load static %}
<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">				
            <a href="{% url 'index' %}" class="logo pull-left"><img src="{% static 'themes/images/logo.png'%}" class="site_logo" alt=""></a>
            <nav id="menu" class="pull-right">
                <ul>
                    {% if categories %}
                        {% for category in categories %}
        
                        <li><a href="{% url 'category' category.id %}}">{{category.name}}</a>					
                            <ul>
                                <li><a href="./products.html">Lacinia nibh</a></li>									
                                <li><a href="./products.html">Eget molestie</a></li>
                                <li><a href="./products.html">Varius purus</a></li>									
                            </ul>
                        </li>															
    
                        {%endfor%}  
                        {% else %}
                    <p>no categories available</p>
                    {%endif%}
                </ul>
            </nav>
        </div>
    </section>

</div>
