{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="wrapper" class="container">
    <section class="header_text sub">
        <img class="pageBanner" src="{% static 'themes/images/pageBanner.png' %}" alt="New products" >
            <h4><span>Product Detail</span></h4>
        </section>
    
    <!-- ************ MAIN CONTENT *************-->
    <section class="main-content">
        <div class="row">
            <div class="span12">													
                <div class="row">
                    <div class="span12">
                        <h4 class="title">
                            <!--******FEATURE PRODUCTS ***-->
                            <span class="pull-left"><span class="text"><span class="line">{{category.name}} <strong>products</strong></span></span></span>
                    
                            <!-- <span class="pull-right">
                                <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                            </span> -->
                        </h4>
                      
                        <div id="myCarousel" class="myCarousel carousel slide">
                            <div class="carousel-inner">
                                {% if category_products %}
                                 {% for category_product in category_products %}
                               
                                    
                                <div class="active item">
                                    <ul class="thumbnails">	
                                        <li class="span3">
                                            <form action="{% url 'cat_product' %}" method ="POST">
                                                {% csrf_token %}
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <input type="hidden" name="cat_product_id" value= "{{category_product.id}}">
                                                <p><a href="{% url 'cat_product' %}"><img src="{{category_product.photo_main.url}}" alt=""/></a></p>
                                                <a href="" class="title">{{category_product.name}} {{category_product.product_id}}</a><br/>
                                                <p class="price">${{category_product.price }}</p>
                                                <button class="btn btn-inverse" type="submit">View Product</button>
                                            </div>
                                         </form>
                                        </li>
                                        {%endfor%}
                                    {%else%}
                                    <p>Sorry No Products Available at this time</p>
                                    
                                    {%endif%}
                                    </ul>            
                                </div>
                                </div>
                           
                             
                            </div>							
                        </div>
                    </div>						
                </div>
                <br/>
            
                
            </div>				
        </div>
    </section>
</div>




{% endblock %}