{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> 
	<link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
	<link href="themes/css/bootstrappage.css" rel="stylesheet"/>
		
	<!-- global styles -->
	<link href="{% static 'themes/css/flexslider.css' %}" rel="stylesheet"/>
	<link href="{% static 'themes/css/main.css' %}" rel="stylesheet"/>

	<!-- scripts -->
	



    <title>Turing E-commerce</title>
</head>
<body>
    {% include 'partials/_topbar.html'%}
    {% include 'partials/_navbar.html'%}
    {% block content %}

    

    {% endblock %}
	{% include 'partials/_footer.html'%}


	<script src="{% static 'themes/js/jquery-1.7.2.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>				
	<script src="{% static 'themes/js/superfish.js' %}"></script>	
	<script src="{% static 'themes/js/jquery.scrolltotop.js' %}"></script>
	<script src="{% static 'bootsrap/js/main.js' %} "></script>  
    
</body>
</html>